.gradle
/local.properties
/.idea/caches
/.idea/gradle.xml
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/modules/app/Boat.app.iml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/.idea/jarRepositories.xml
/.idea/assetWizardSettings.xml
/build
/captures
bin/
gen/
out/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
proguard/
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
.navigation/
vcs.xml
*.hprof
