.gradle
.idea/*
/local.properties
/build
buildSrc/build
/captures
bin/
gen/
out/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
proguard/
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log
.navigation/
vcs.xml
*.hprof
